h1{
    color: red;
}

.blueback{
    background-color: blue;
}
.largesize{
    font-size: 100px;
}
#border{
    border:solid 1px black;
    background-color: red;
}
*{
    font-family: Arial, Helvetica, sans-serif; 
}
h1:hover{
    background-color: aqua;
}
input:hover{
    background-color: bisque;

}
input:focus{
    background-color: chocolate;
}
a:visited{
    color: red;

}